@import url('bootstrap.min.css');
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Roboto", Arial, serif;
  line-height: 1.8;
  font-size: 16px;
  background: #fff;
  color: #848484;
  font-weight: 300;
}
.wrapper {
  position: fixed;
  z-index: 2;
  background-color: #1a6aaf;
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 40px;
}
.centeredBox {
  width: 100%;
  text-align: center;
}
.cursor {
  border-left: 4px solid white;
}
body.fh5co-offcanvas {
  overflow: hidden;
}
a {
  color: #2da9d7;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover {
  text-decoration: none !important;
  color: #2da9d7 !important;
}
a:active, a:focus {
  outline: none;
}

p, ul, ol {
  margin-bottom: 1.5em;
  font-size: 15px;
  color: #848484;
  font-family: "Roboto", Arial, serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #212121;
  font-family: "Roboto", Arial, serif;
  font-weight: 400;
  margin: 0 0 20px 0;
}

figure {
  margin-bottom: 2em;
}

::-webkit-selection {
  color: #818892;
  background: #f9f6f0;
}

::-moz-selection {
  color: #818892;
  background: #f9f6f0;
}

::selection {
  color: #818892;
  background: #f9f6f0;
}

#fh5co-header {
  padding-top: 40px;
  margin-bottom: 30px;
}
#fh5co-header #fh5co-logo img {
  max-width: 100%;
}
#fh5co-header nav {
  padding-top: 20px;
}
#fh5co-header nav ul {
  padding: 0;
  margin: 0;
}
#fh5co-header nav ul li {
  padding: 0;
  margin: 0;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  display: inline;
  list-style: none;
  font-size: 15px;
}
#fh5co-header nav ul li a {
  color: #999999 !important;
  padding: 10px;
}
@media screen and (max-width: 480px) {
  #fh5co-header nav ul li a {
    padding: 5px;
  }
}
#fh5co-header nav ul li a:hover, #fh5co-header nav ul li a:active, #fh5co-header nav ul li a:focus {
  color: #000 !important;
  text-decoration: none;
  outline: none;
}
#fh5co-header nav ul li.active a {
  text-decoration: line-through !important;
  color: black !important;
}

.footer-content {
  margin: 0 auto;
  max-width: 1400px;
}
.fh5co-projects-feed {
  margin: 0 auto;
  max-width: 1600px; 
}
.fh5co-projects-feed .fh5co-project {
  margin-bottom: 70px;
}
.page-content {
  margin: 0 auto;
  max-width: 620px;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
}
.page-content img {
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  .page-content {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.page-content .mb0 {
  margin-bottom: 0;
}
.page-content .meta {
  margin-bottom: 20px;
}
.page-content .meta span {
  color: #bfbfbf;
}
.page-content .meta a {
  color: #bfbfbf;
}
.page-content .meta a:hover, .page-content .meta a:active, .page-content .meta a:focus {
  color: #000 !important;
}
@media screen and (max-width: 480px) {
  .page-content {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

#fh5co-footer {
  float: left;
  width: 100%;
  background: #ebebeb;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: #999999;
}
#fh5co-footer a {
  color: #bfbfbf;
}
#fh5co-footer a:hover, #fh5co-footer a:active, #fh5co-footer a:focus {
  color: #000 !important;
}

.square {
  list-style: square;
}

.pt70 {
  padding-top: 70px;
}
@media screen and (max-width: 480px) {
  .pt70 {
    padding-top: 30px;
  }
}

.pb70 {
  padding-bottom: 70px;
}
@media screen and (max-width: 480px) {
  .pb70 {
    padding-bottom: 30px;
  }
}
/* beda */
.fh5co-person {
  border: 2px solid #f2f2f2;
  padding: 80px 30px 30px 30px;
  position: relative;
  background: #fff;
  -webkit-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
  -moz-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
  -ms-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
  -o-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
  box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
}
.fh5co-person:hover {
  background: #6C6B74;
  color: #fff !important;
  -webkit-transition: all 800ms ease;
  -ms-transition: all 800ms ease;
  transition: all 800ms ease;
}
.fh5co-person:hover > * {
  color: #fff;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease;
}
.fh5co-person:hover > .btn-status {
  background: #0ABDA0;
  color: #FFF;
  -webkit-transition: all 100ms ease;
  -ms-transition: all 100ms ease;
  transition: all 100ms ease; 
}
@media screen and (max-width: 992px) {
  .fh5co-person {
    margin-bottom: 3.5em;
  }
}
.fh5co-person figure {
  position: absolute;
  margin-top: -60px;
  top: 0;
  left: 50%;
  margin-left: -60px;
  display: block;
  margin-bottom: 50px;
}
.fh5co-person figure img {
  width: 120px;
  border: 2px solid #f2f2f2;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.fh5co-person h3 {
  margin-bottom: 0px;
}
.fh5co-person .fh5co-position {
  display: block;
  margin-bottom: 20px;
}
.fh5co-person p {
  margin: 0;
}
.fh5co-person .btn-status {
  background: #52d3aa;
  color: #fff;
  text-transform: uppercase;
  border-radius: 0;
  width: 200px;
  margin: 0 auto;
  font-weight: normal;
}
.fh5co-person .list-info {
  text-align: left;
}
.fh5co-person .list-info td {
  min-width: 90px;
}
[role="progressbar"] {
  position: relative;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 5px #1a6aaf;
  background-color: #fff;
  margin: 0 auto;
}
[role="progressbar"]::before {
  z-index: -1;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -35px;
  margin-top: -2.5px;
  width: 70px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #fff;
  content: '';
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-animation: propellor ease-in-out 2s infinite;
          animation: propellor ease-in-out 2s infinite;
}
@-webkit-keyframes propellor {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  16% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  32% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  48% {
    -webkit-transform: rotate(390deg);
            transform: rotate(390deg);
  }
  64% {
    -webkit-transform: rotate(340deg);
            transform: rotate(340deg);
  }
  80% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  84% {
    -webkit-transform: rotate(363deg);
            transform: rotate(363deg);
  }
  94%,
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes propellor {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  16% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  32% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  48% {
    -webkit-transform: rotate(390deg);
            transform: rotate(390deg);
  }
  64% {
    -webkit-transform: rotate(340deg);
            transform: rotate(340deg);
  }
  80% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  84% {
    -webkit-transform: rotate(363deg);
            transform: rotate(363deg);
  }
  94%,
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
